.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/home_page.png') no-repeat center;
    border-radius: 15px;
    background-size: contain;
    position: relative;
    width: 80%;
    background-color: #0066cc;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    clear: both;
    overflow: hidden;
    animation: fadeIn 2s;
}

h2 {
    position: relative;
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
    width: 100%;
}

.header-contents p {
    color: white;
    font-size: 1vw;
}

.header-contents button {
    border: nonw;
    color: #0066cc;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
}